@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-klivio-green: #44dd8a;
  --color-klivio-dark: #152237;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}
